[submodule "submodules/libsndfile"]
	path = submodules/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
[submodule "submodules/libsamplerate"]
	path = submodules/libsamplerate
	url = https://github.com/libsndfile/libsamplerate.git
[submodule "submodules/rtaudio"]
	path = submodules/rtaudio
	url = https://github.com/thestk/rtaudio.git
